.video-container{
    height: 80vh;
    width: 30vw;
    border-radius: 20px;
    background-color: white;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.video-container::-webkit-scrollbar {
    display: none;
}

.videos{
    position: relative;
}


.fa{
    position: absolute;
    bottom: 5%;
    left: 7%;
}

.fa h4{
    margin: 0;
    color: white;
    width: 100%;
    margin-top: 4%;
}

.like-styling{
    position: absolute;
    bottom: 5rem;
    /* left: -0.5rem; */
    color: #fff;
    cursor: pointer;
}

.like{
    color: red;
}

.dislike{
    color: white
}

@media screen and (max-width: 400px) {
    .video-container{
        height: 80vh;
        width: 90%;
        border-radius: 20px;
        background-color: white;
        overflow: scroll;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
    }
    
    .video-container::-webkit-scrollbar {
        display: none;
    }
    
}

